@import "styles/variables/colors";

.choicesContainer {
  background-color: $cascade;
  padding: 25px 0;

  .choicesBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 470px;
    position: relative;
  }

  .choicesFooter {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 40%;
  }
}
