// TODO: Centralize the variables
@import 'styles/variables/_colors';

.choicesCardContainer {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  width: 500px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.15);

  // Card-mimic Specific styles
  z-index: 0;
  position: absolute;
  transition: all .75s;

  &:first-of-type {
    top: 10px;
    z-index: 3;
  }

  &:nth-child(n + 2) {
    top: 15px;
    z-index: 2;
    width: 475px;
  }

  &:nth-child(n + 3) {
    top: 20px;
    z-index: 1;
    width: 450px;
  }

  .choicesCardHeader {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    padding: 2px 2px 0;

    .logo {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-bottom: -40px;
    }
  }

  .choicesCardBody {
    padding: 40px 0 0;

    h2, h3 {
      text-transform: capitalize;
      text-align: center;
      margin: 0 0 5px;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 20px;
      font-weight: lighter;
    }

    .universityDetails {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px 0;

      .infoCol {
        h2, h3 {
          font-size: 20px;
          text-transform: uppercase;
          margin: 0 0 5px;
        }

        &:nth-child(2) {
          h2, h3 {
            font-size: 25px;
          }
        }
      }
    }

    .universityAbout {
      width: 100%;
      padding: 0 20px;
      text-align: center;

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .choicesCardFooter {
    width: 100%;
    padding: 0 20px;
    color: $tobacco-brown;
    text-align: center;

    .universityCalc {
      height: 20px;
      border-radius: 5px;
      box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.36);
      overflow: hidden;
      position: relative;

      .fill {
        background-color: $acapulco;
        width: 25%;
        height: 20px;
        position: absolute;
      }
    }

    .fillLabels {
      display: flex;
      width: 100%;

      div {
        width: 25%;
      }
    }
  }
}
