@import 'styles/variables/_colors';
@import 'styles/variables/_animations';

.choicesCardContainer {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 20px;
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.30);
  width: 380px;
  max-width: 380px;
  min-height: 435px;

  // Card-mimic Specific styles
  z-index: 0;
  position: absolute;
  transition: all .75s;

  &.attemptMoveRight,
  &.attemptMoveLeft,
  &.swipeRight,
  &.swipeLeft,
  &.approveCard,
  &.rejectCard {
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &.attemptMoveRight {
    animation-name: attemptMoveRight;
  }

  &.attemptMoveLeft {
    animation-name: attemptMoveLeft;
  }

  &.swipeRight {
    animation-name: swipeRight;
  }

  &.swipeLeft {
    animation-name: swipeLeft;
  }

  &.approveCard {
    animation-name: approveCard;
  }

  &.rejectCard {
    animation-name: rejectCard;
  }

  &:first-of-type {
    z-index: 3;
    transform: translateY(-3%);
  }

  &:nth-child(n + 2) {
    z-index: 2;
    transform: scale(0.95) translateY(1.5%);
  }

  &:nth-child(n + 3) {
    z-index: 1;
    transform: scale(0.90) translateY(6%);
  }

  .choicesCardHeader {
    padding: 2px 2px 0;
  }

  .choicesCardBody {
    padding-bottom: 5px;

    h2, h3 {
      text-transform: capitalize;
      text-align: center;
      margin: 0 0 10px;
    }

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 18px;
      font-weight: lighter;
    }

    .universityDetails {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 20px 0 10px;

      .infoCol {
        h2, h3 {
          font-size: 15px;
          text-transform: uppercase;
          margin: 0 0 5px;
        }

        &:nth-child(2) {
          h2, h3 {
            font-size: 20px;
          }
        }
      }
    }

    .universityAbout {
      width: 100%;
      padding: 0 20px;
      text-align: center;

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .choicesCardFooter {
    width: 100%;
    padding: 0 20px;
    color: $tobacco-brown;
    text-align: center;

    h4 {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .universityCalc {
      height: 20px;
      border-radius: 5px;
      box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.36);
      overflow: hidden;
      position: relative;

      .fill {
        background-color: $cascade;
        width: 25%;
        height: 20px;
        position: absolute;
      }
    }

    .fillLabels {
      display: flex;
      width: 100%;

      div {
        width: 25%;
        color: $stonewall;
        font-size: 15px;
      }
    }
  }
}
