@import 'styles/variables/colors';

.universityProfileContainer {
  .universityProfileBody {
    text-align: center;

    section {
      padding: 0 15px;

      &.info {
        h1 {
          font-size: 23px;
          margin-bottom: 5px;
        }

        p {
          font-size: 18px;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .userMatchRate {
      margin: 35px 0;

      p {
        margin-top: 0.5em;
        font-size: 14px;
      }
    }

    .cta {
      margin: 35px auto;
      width: 80%;
    }

    .requirementsContainer {
      .details {
        text-align: left;
      }
    }

    .scoresContainer {
      .scoresHeader {
        padding: 20px 0 10px;
        border-bottom: 4px solid $merino;

        h2, h3 {
          margin: 0 0 5px;
        }

        h3 {
          font-weight: normal;
          font-size: 14px;
        }
      }

      .scoresBody {
        ul {
          text-align: left;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            color: $tobacco-brown;
            padding: 5px 0 0 30px;
            position: relative;

            &::before {
              position: absolute;
              top: 10px;
              left: 0;
              content: "";
              background-color: $pearl-bush;
              display: inline-block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .statisticsContainer {
      padding: 0 0 20px;

      .statisticsHeader {

        .ratio {
          width: 90px;
          margin: 0 auto;

          h2 {
            margin: 0;
            font-size: 22px;
          }
        }
      }

      .statisticsBody {
        .primary {
          h2, h3 {
            color: $acapulco;
          }
        }

        .column {
          &:first-of-type {
            padding-right: 20px;
            border-right: 1px solid $swirl;
          }

          &:nth-child(2) {
            padding-left: 20px;
          }

          .statValues {
            margin-top: 10px;
            min-height: 60px;
            align-items: flex-start;
          }
        }


        h2, h3 {
          text-align: center;
          margin: 0;
          color: $swirl;
        }

        h2 {
          font-size: 22px;
          margin-bottom: 5px;
        }

        h3 {
          font-size: 13px;
          word-wrap: break-word;
          hyphens: auto;
        }
      }
    }
  }

}

