.universityHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 140px;
  width: 100%;
  margin-bottom: 52px;

  .logo {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: -40px;
  }
}
