@keyframes attemptMoveRight {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(90px) translateY(-9px) rotate(-2deg) scale(0.9);
  }
}

@keyframes attemptMoveLeft {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-90px) translateY(9px) rotate(6deg);
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(90px) translateY(-9px) rotate(-2deg) scale(0.9);
  }
  50% {
    transform: translateX(270px) translateY(-50px) rotate(-15deg) scale(0.8);
  }
  100% {
    transform: translateX(470px) translateY(50px) rotate(-15deg) scale(0.8);
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(-90px) translateY(9px) rotate(6deg);
  }
  35% {
    transform: translateX(-250px) translateY(60px) rotate(15deg);
  }
  100% {
    transform: translateX(-470px) translateY(200px) rotate(15deg);
  }
}

@keyframes approveCard {
  0% {
  }
  35% {
    transform: translateX(270px) translateY(-50px) rotate(-15deg) scale(0.8);
  }
  100% {
    transform: translateX(470px) translateY(50px) rotate(-15deg) scale(0.8);
  }
}

@keyframes rejectCard {
  0% {
  }
  35% {
    transform: translateX(-250px) translateY(60px) rotate(15deg);
  }
  100% {
    transform: translateX(-470px) translateY(200px) rotate(15deg);
  }
}
