/*
Goodwall colors
------------------------------------
Reference all available colors on the platform
*/

// Primary Palette
$punch: #DD5244;
$selective-yellow: #FFB400;
$mantis: #7CBD5C;
$patina: #6FA89D;
$ship-cove: #647ABD;
$old-lavender: #694766;
$japonica: #CD5F54;

// Neutral Palette
$tobacco-brown: #695745;
$stonewall: #928572;
$malta: #B2A693;
$swirl: #D1C6BC;
$soft-amber: #D7CDBE;
$pearl-bush: #EFE9DF;
$merino: #F6F1E9;
$albescent-white: #FBF7F0;
$white: #FFFFFF;
$bianca: #FCF9F2;

// Dak Palete
$thunder: #3C293B;
$medium-carmine: #B14236;
$husk: #A89450;
$cutty-sark: #4F766F;
$port-gore: #282A57;

// Hover Colr Palete
$merino-light: #FDFCFA;
$old-lavender-light: #785975;
$ship-cove-light: #7387C3;
$acapulco: #7DB0A6;
$mantis-light: #89C36C;
$lightning-yellow: #FFBB1A;
$sunglo: #E06357;
$swirl-light: #D5CBC2;

//Others
$brown-border: #ECE7DF;
$silver: #8D99AA;
$bronze: #B76623;

//Unknown
$inkBar: #F4CBC7;
// TODO: Remove this alias and change it directly from the selectors that use it.
$cascade: $acapulco;
