@import 'styles/variables/colors';

.statisticsContainer {
  .statisticsBody {
    .primary {
      h2, h3 {
        color: $acapulco;
      }
    }

    h2, h3 {
      text-align: center;
      margin: 0;
    }

    h2 {
      font-size: 35px;
      margin-bottom: 5px;
    }

    h3 {
      font-size: 20px;
    }
  }
}
