.accordionContainer {
  p {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    margin-bottom: 10px !important;

    &.expand {
      height: auto;
      margin-bottom: 0 !important;
    }

    &.collapse {
      height: 80px;
      margin-bottom: 0 !important;
    }
  }
}
